*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.counter{
    width: 300px;
    color: white;
    background: black;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    font-size: 40px;
    text-align: center;
}
.counter h1{
    font-size: 18px;
    margin-bottom: 15px;
}